/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* left_part */
#left_part {
  display: flex;
  flex-direction: column;
  width: 40%; /* DEBUG:  */
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

  /* user_tools */
  #user_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    width: 100%;
    height: 60px;
  }

    #user_img img {
      border-radius: 50%;
      width: 40px;
    }

    #tools {
      display: flex;
      justify-content: flex-end;
      width: 50%;
    }

      #tools a{
        margin-left: 10%;
      }

    /* find_chat */
    #find_chat {
      width: 100%;
      background-color: rgb(248, 248, 248);
      padding: 10px;
    }

      #find_chat div {
        /* width: 100%; */
        background-color: white;
        padding: 5px 20px;
        border-radius: 60px;
        display: flex;
      }

      #find_chat button {
        border: 0;
        background-color: white;
      }

      #find_chat input {
        border: 0;
        text-overflow: ellipsis;
        width: 80%;
      }

    /* chat_list */
    #chat_list {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      padding: 10px;
    }

      .chat > a{
        display: flex;
        width: 100%;
      }

        .contact_img img{
          border-radius: 50%;
          width: 50px;
        }

        .data_chat {
          display: flex;
          flex-direction: column;
          width: 75%;
          margin-left: 5%;
        }

          .name_time_contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .preview_msg {
            width: 75%;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 20px;
          }

  /* main */
  main {
    width: 60%;/* DEBUG:  */
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
  }

    /* chat_tools */
    #chat_tools {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 60px;
      padding: 10px;
      background-color: rgb(238, 238, 238);
    }

      #info_contact {
        display: flex;
        width: 60%;
      }
        #info_contact div {
          margin-right: 5%;
        }
        #info_contact div img {
          width: 50px;
          border-radius: 50%;
        }

      #tools_this_chat {
        display: flex;
        justify-content: flex-end;
        width: 40%;
      }

      #tools_this_chat div {
        margin-left: 10%;
      }

    /* now_chat */
    #now_chat {
      width: 100%;
      height: calc(100vh - 120px);
      background-color: rgb(229, 221, 213);
      background-image: url("../img/sfondodefault.png");
      overflow: hidden;
    }

    /* user_chat */
    #user_chat {
      width: 60%;
      height: 60px;
      position: fixed;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      background-color: rgb(248, 248, 248);
    }

      #user_chat input {
        width: 65%;
        border: 0;
        padding: 15px 10px;
        border-radius: 60px;
      }
